body {
    color:white;
    background: blue;
    margin: 0px;
}

header{
    border-bottom: solid white;
    padding: 20px;
    font-size: 32px;
    color: white;
}

section{
    background: rgb(34, 38, 38);
}