body {
    color:black;
    background: blue;
    margin: 0px;
    font-family: "Oswald", sans-serif;
}

header{
    border-bottom: solid white;
    padding: 20px;
    font-size: 32px;
    color: white;
}

section{
    background: rgb(169, 169, 169);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}